PORT=PORT NUMBER FOR EXPRESS
REDIS_HOST=LOCAL REDIS HOST IS 127.0.0.1
REDIS_PORT=LOCAL REDIS HOST IS 6379
REDIS_PASSWORD=LOCAL REDIS PASSWORD IS PASSWORD
ALPHA_VANTAGE_API_KEY=SIGN UP TO GET API KEY @ https://www.alphavantage.co/
